<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Author>bonus630</Author>
  <Email>bonus630@gmail.com</Email>
  <OpenSite>true</OpenSite>
  <URL>https://bonus630.com.br/downloads/coreldraw-addons</URL>
  <SetupFolder>D:\CorelDraw Addons Setups</SetupFolder>
  <LogoPath>C:\Users\bonus\OneDrive\Imagens\BANNERQUAD.jpg</LogoPath>
  <ReadmePath>D:\C# Ed26-08-22\Bonus630DevToolsBar\Leiame.rtf</ReadmePath>
  <IconPath>C:\Users\bonus\OneDrive\Imagens\ICOS\packer.ico</IconPath>
</Settings>