<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="br.com.Bonus630DevToolsBar.DrawUIExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <br.com.Bonus630DevToolsBar.DrawUIExplorer.Properties.Settings>
            <setting name="ConsoleCounter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XslTesterFontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="AutoOpenLastFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFilePath" serializeAs="String">
                <value />
            </setting>
        </br.com.Bonus630DevToolsBar.DrawUIExplorer.Properties.Settings>
    </userSettings>
</configuration>