<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="br.com.Bonus630DevToolsBar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <br.com.Bonus630DevToolsBar.Properties.Settings>
      <setting name="FolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="LastProject" serializeAs="String">
        <value />
      </setting>
      <setting name="ConsoleCounter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XslTesterFontSize" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="AutoOpenLastFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLoad" serializeAs="String">
        <value>False</value>
      </setting>
    </br.com.Bonus630DevToolsBar.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>