<?xml version="1.0"?>
<config>
	<resources>
		<resource name="Bonus630DevToolsBar" path="Resources.dll">
			<resourceMap>

				<!-- DataSource-->
				<resEntry id="9d86b3ac-5c08-4c95-9c22-288173525877" string="10001" icon="102"/>
				<!-- Run Command Docker Button icon and string resource-->
				<resEntry id="7acb54e6-084e-494f-ad31-2718f34ddad2" string="10002" icon="103"/>
				<!-- DrawUI Explorer Button  icon and string resource -->
				<resEntry id="942df043-e3e2-4d0e-83ee-a456557ac093" string="10003" icon="104"/>
				<!-- Shortcuts -->
				<resEntry id="b0bc23ba-086b-46d1-ae04-ee36aa9003a4" string="10004" icon="105"/>
				<!-- Drag GMS -->
				<resEntry id="3b3f72b8-0129-4316-b8a3-40e4758ba9bc" string="10005" icon="106"/>
				<!-- Reload Gms-->
				<resEntry id="9b07d7af-da14-4cd8-9db9-7da214ee1d4a" string="10006" icon="107"/>
				<!-- Delete Gms-->
				<resEntry id="571db7b2-8cae-4b99-b241-a56ecd61f90e" string="10007" icon="108"/>
				<!--cql-->
				<resEntry id="51b24cfb-b8df-411f-886c-4c5520e931a4" string="10008" icon="109"/>
				<!-- cql reference guide-->
				<resEntry id="d61f1ede-79aa-4255-8f96-307e6f63c204" string="10009" icon="110"/>
				<!-- Folders-->
				<resEntry id="680d03b3-2da0-4314-bc79-fa6b26471e22" string="10010" icon="111"/>
				<!-- Recent Files-->
				<resEntry id="7d15e9c7-2431-4841-a5aa-9eaa5b581230" string="10011" icon="112"/>
				<!-- Icon Toolset Docker-->
				<resEntry id="d0a371e7-9fad-4e1c-8159-b285d67c0497" string="10012" icon="113"/>
				<!-- Icon test slot-->
				<resEntry id="657042cb-3594-43a1-80bf-c8a27fd43146" string="10013" icon="114"/>
				<!-- CommandBar Builder-->
				<resEntry id="f9691f7a-27cc-405b-b2f4-de164246bcbd" string="10014" icon="115"/>
				<!--Print Screen -->
				<resEntry id="b5c5d8c0-e3d0-44dd-822f-2e61190c870b" string="10015" icon="116"/>
				<!--Reopen Active Document -->
				<resEntry id="948fe4ae-3a3f-4052-9194-7354476d3b1a" string="20001" icon="117"/>
				<!-- GuidGen -->
				<resEntry id="18f26b28-7ec8-4f46-a686-c1bb45a28d2d" string="20002" icon="118"/>
			</resourceMap>
		</resource>
	</resources>
</config>
