<?xml version="1.0"?>
<config>
	<resources>
		<resource name="Bonus630DevToolsBar" path="Bonus630DevToolsBar.dll">
			<resourceMap>

				<!-- Run Command Docker Button icon and string resource-->
				<resEntry id="7acb54e6-084e-494f-ad31-2718f34ddad2" string="10223" icon="111"/>
				<!-- DrawUI Explorer Button  icon and string resource -->
				<resEntry id="942df043-e3e2-4d0e-83ee-a456557ac093" string="10224" icon="115"/>
				<!-- Shortcuts -->
				<resEntry id="b0bc23ba-086b-46d1-ae04-ee36aa9003a4" string="10225" icon="112"/>
				<!-- Drag GMS -->
				<!--<resEntry id="3b3f72b8-0129-4316-b8a3-40e4758ba9bc" string="10230" icon="114"/>-->
				<!-- Reload Gms-->
				<resEntry id="9b07d7af-da14-4cd8-9db9-7da214ee1d4a" string="10226" icon="114"/>
				<!-- Delete Gms-->
				<resEntry id="571db7b2-8cae-4b99-b241-a56ecd61f90e" string="10227" icon="113"/>
				<!--cql-->
				<resEntry id="51b24cfb-b8df-411f-886c-4c5520e931a4" string="10228" icon="108"/>
				<!-- cql reference guide-->
				<resEntry id="d61f1ede-79aa-4255-8f96-307e6f63c204" string="10229" icon="110"/>
				<!-- Folders-->
				<resEntry id="680d03b3-2da0-4314-bc79-fa6b26471e22" string="10230" icon="109"/>

			</resourceMap>
		</resource>
	</resources>
</config>
